.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 20px;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.logo img {
    
    display: block;
    width: 136;
height: 16;

}

.nav {
   position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  transition: transform 0.3s ease-in-out;
}



.navLink {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
  transition: color 0.3s, border-color 0.3s;
}

.active {
    color: #D84343;
    border-bottom: 2px solid #D84343;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open span:nth-child(2) {
    opacity: 0;
}

.burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        background: #fff;
        flex-direction: column;
        gap: 10px;
        padding: 15px 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transform: translateY(-200%);
   transition: transform 0.3s ease-in-out;
    }

    .nav.open {
        transform: translateY(0);
    }

    .burger {
        display: flex;
    }
}