.home {
    height: 100vh;
    
    background: image-set(
        url('/src/assets/bg-home-1x.webp') 1x,
        url('/src/assets/bg-home-2x.webp') 2x) center center / cover no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 760px) {
    .home {
        background-image: url(/src/assets/bg-home-mobile.webp);
    }
}

.content {
    text-align: left;
    background-color: transparent;
    padding-left: 4rem;
    border-radius: 1.25rem;
    max-width: 37.5rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
    color: #F7F7F7;
    font-weight: 600;
}

.paragraph {
    font-size: 1.5rem;
    color: #F7F7F7;
    font-weight: 400;
}

.ctaButton {
    padding: 0.9375rem 1.875rem;
    font-size: 1.2rem;
    background-color: #e44848;
    color: white;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
}

.ctaButton:hover {
background-color: #d03f3f;
}